<p id="notice"><%= notice %></p>

<%= image_tag @food.image.url(:medium) %>
<br>
Name: <%= @food.name %>
<br>
Price: <%= @food.price %>
<br>
Seller Location: <%= @food.seller_location %>
<br>

Delivery Cost: <span id="delivery_cost"></span>
<button id="target">Get Delivery Quote</button>
<br><br>

<%= form_for :transaction, url: transactions_path, method: :post do |f| %>
  Current Location: <%= f.text_field :buyer_location %>
  <%= f.hidden_field :food_id, value: @food.id %>
  <%= f.submit %>
<% end %>

<script> 
  $( "#target" ).click(function() {
    $.ajax({
      url: "/foods/<%= @food.id %>/quote.json",
      context: document.body
    }).done(function(response) {
      $("#delivery_cost").html(response);
      $("#target").hide();
    });
  });
</script>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
