<div class="container">
  <%= content_for :head do %>
    <script type="text/javascript" src="<%= GMAPS_API_URL %>"></script>
  <% end %>

  <script>
  var geocoder;
  var map;
  var dropoffMarker;
  var pickupMarker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      zoom: 15,
      mapTypeId: 'roadmap'
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    placePickupMarker();

    // Geolocation
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var pos = new google.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

        map.setCenter(pos);
        dropoffMarker = new google.maps.Marker({
            position: pos,
            map: map,
            draggable: true
        });

        reverseGeocode(pos);
      }, function() {
        handleNoGeolocation(true);
      });
    } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
    }
  }

  function placePickupMarker() {
    var address = "<%= @food.seller_location %>";
    geocoder.geocode( { 'address': address }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        pickupMarker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        console.log('Pickup location not found')
      }
    });
  }

  function reverseGeocode(pos) {
    geocoder.geocode({'latLng': pos}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        if (results[0]) {
          dropoffMarker.setPosition(pos)
          google.maps.event.addListener(dropoffMarker, "dragend", function(e) {
            var pos = dropoffMarker.getPosition();
            reverseGeocode(pos);
            map.panTo(pos);
          });
          var address = results[0].formatted_address;
          if (document.getElementById('transaction_buyer_location')) {
            document.getElementById('transaction_buyer_location').value = address;
            getQuote();
          })
        } else {
          clearLocation();
        }
      } else {
        clearLocation();
      }
    });
  }

  function clearLocation() {
    document.getElementById('transaction_buyer_location').value = "";
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }

    var options = {
      map: map,
      position: new google.maps.LatLng(60, 105),
      content: content
    };

    map.setCenter(options.position);
  }


  function getQuote() {
    var location = document.getElementById('transaction_buyer_location').value;
    var location_encoded = encodeURI(location);
    try {
      $.ajax({
        url: "/foods/<%= @food.id %>/quote.json?buyer_location=" + location_encoded,
        context: document.body
      }).done(function(response) {
        $("#delivery_cost").html("$" + add_decimal(response.fee));
        $("#transaction_quote_id").attr('value', response.id);
        getTotal();
      });
    } catch(err) {
      $("#delivery_cost").html("Not servicable");
    }
  }

google.maps.event.addDomListener(window, 'load', initialize);
  function getTotal() {
    //$("#total").html("$" + (parseFloat($("#price")[0].innerHTML.substr(1, 9)) + parseFloat($("#price")[0].innerHTML.substr(1, 9))).toFixed(2)) 
    var a = parseFloat($("#price")[0].innerHTML.substr(1, 9))
    var b = parseFloat($("#delivery_cost")[0].innerHTML.substr(1, 9))
    var c = (a + b).toFixed(2)
    $("#total").html("$" + c)
  }

  function add_decimal(money) {
    return (parseFloat(money) / 100).toFixed(2)
  }
<% if @transaction %>
  $(document).ready(function() {
    console.log(google);
    var courierMarker;
    setInterval(function() {
      $.ajax({
        url: "/transactions/<%= @transaction.id %>/status",
        context: document.body
      }).done(function(response) {
        $('#postmates-status').html(response['status']);
        if (response['status'] === 'pickup' || response['status'] === 'dropoff') {
          var pos = new google.maps.LatLng(response.courier.location.lat,
                                           response.courier.location.lng);
          // If courier isn't set yet initialize
          if (!courierMarker) {
            courierMarker = new google.maps.Marker({
              icon: <%= image_tag "Logo-Postmates-Small.png" %>
              postion: pos,
              map: map,
            });
          }
          courierMarker.setPosition(pos);
        }
      });
    }, 2000);
  });
<% end %>
</script>

<div class="row">
  <div class="col-md-6" id="food-wrapper">
    <p id="notice"><%= notice %></p>

    <% if @food.for_sale %>
      <%= image_tag @food.image.url(:medium) %>
      <p>Name: <%= @food.name %></p>
      <p>Price: <%= @food.price %></p>
      <p>Seller Location: <%= @food.seller_location %></p>
      <p>Delivery Cost: <span id="delivery_cost"></span></p>
      <button id="target">Get Delivery Quote</button>
      <br><br>

      <%= form_for :transaction, url: transactions_path, method: :post do |f| %>
        Dropoff Location: <%= f.text_field :buyer_location %>
        <%= f.hidden_field :food_id, value: @food.id %>
        <%= f.hidden_field :quote_id %>
        <%= f.submit %>
      <% end %>

      <%= link_to 'Edit', edit_food_path(@food) %> |
      <%= link_to 'Back', foods_path %>
    <% else %>
      <p>Postmates is delivering your item</p>
      <h1 id="postmates-status"></h1>
    <% end %>
  </div>
  <script>
  </script>

  <div class="row">
    <div class="col-md-6" id="food-wrapper">
      <div class="panel panel-default">
        <div class="panel-heading"><h5><%= @food.name %></h5></div>
        <div class="panel-body">
          <%= image_tag @food.image.url(:medium) %>
          <p>Price: <span class="money" id="price">$<%= @food.price %></span></p>
          <p>Delivery Cost: <span class="money" id="delivery_cost"></span></p>
          <p>Total: <span class="money" id="total"></span></p>
          <p>Seller Location: <%= @food.seller_location %></p>
          
          <%= form_for :transaction, url: transactions_path, method: :post do |f| %>
            Dropoff Location: <%= f.text_field :buyer_location, class: "form-control" %>
            <br><br>
            <%= f.hidden_field :food_id, value: @food.id %>
            <%= f.hidden_field :quote_id %>
            <%= f.submit "Purchase", class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-md-6" id="map-wrapper">
      <div id="map-canvas"></div>
    </div>

  </div>


</div>
