<p id="notice"><%= notice %></p>

<%= image_tag @food.image.url(:medium) %>
<br>
Name: <%= @food.name %>
<br>
Price: <%= @food.price %>
<br>
Seller Location: <%= @food.seller_location %>
<br>
Delivery Cost: <div id="delivery_cost"></div>
<br>
<button id="target">
  Get Delivery Quote
</button>


<script> 
  $( "#target" ).click(function() {
    alert( "Handler for .click() called." );
    $.ajax({
      url: "/foods/<%= @food.id %>/quote.json",
      context: document.body
    }).done(function(response) {
      $("#delivery_cost").html(response);
    });
  });
</script>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
