<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <title>Agora</title>
  <%= content_for :head %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if request.env['PATH_INFO'] == "/" %>
    <%= render "layouts/header_home" %>
  <% else %>
    <%= render "layouts/header_other" %>
  <% end %>
  <!-- render "flashes" -->
  <%= render "javascript" %>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>
